
<h1><%= @user.f_name %> <%= @user.l_name %></h1>
<br>
<h2>Contacts</h2>
<%= link_to "Add Contact", new_user_contact_path(user_id: @user.id) %>
<br>

<% @contacts.each do |contact| %>
  <%= contact.f_name %> <%= contact.l_name %><br>
<% end %>