<h1><%= @user.f_name %> " " <%= @user.l_name %></h1>
<br>
<h2>Contacts</h2>
<br>
<%= link_to "Add Contact", new_contact_path %>
<br>

<%= @contacts.each do |contact| %>
  <%= contact.f_name %>" "<%= contact.l_name %><br>
  <% end %>