
<h1><%= @user.f_name %> <%= @user.l_name %></h1>

<table>
<tr>
  <th colspan = 2>
  Contacts <%= link_to "Add Contact", new_user_contact_path(user_id: @user.id) %>
  </th>
</tr>
<% @contacts.each do |contact| %>
<tr>
  <td><%= contact.f_name %></td>
  <td><%= contact.l_name %></td>
  <td><%= link_to "View", 'contacts#show' %></td>
</tr>
<% end %>
</tablle>